td {font-family:arial; font-size:11px;}
#menu a, #lmenu a {color:#ffffff; text-decoration:none; font-size:12px;}
#menu td.button, #lmenu td.button {padding-left:10px; padding-right:10px;}
#lmenu a {color:#000000; font-size:11px;}
h2 {color:#EB3C1D; margin:0px; font-size:18px; font-weight:normal;}
#header, #content {padding-left:10px; padding-top:15px;}
#content {padding-right:10px;}
h3 {color:#EB3C1D;  margin:0px; font-size:12px; font-weight:bold; margin-bottom:10px;}
hr {margin-bottom:5px;}