.bottomtext {  font-family: "Times New Roman", Times, serif; font-size: 10px; color: #000000}
.smaller {  font-size: 9px}
.introtext {  font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: 100; color: 666633}
.paratext { font-family: "Times New Roman", Times, serif; font-size: 12px; font-weight: 100; color: 000000}
.list {  font-family: "Times New Roman", Times, serif; font-size: 10pt; font-weight: 100; color: 000000}
.double {  line-height: 35px}
