<table border="0" width="100%">
          <tr>
            <td width="100%" bgcolor="%%hwvheaderbgcolor%%"><font color="%%hwvheadertcolor%%"><strong><big>Current Conditions
            for %%hname%%, %%lcstate%%:</big><br>
            </strong><small>Updated: %%hforecastdate%%</small></font></td>
          </tr>
        </table>
        <table border="0" width="100%">
          <tr>
            <td valign="top" align="center"><table border="0">
              <tr>
                <td width="100%" colspan="2" align="center"><img src="%%hicon%%" alt="%%hsky%%" width="%%iconwidth%%" height="%%iconheight%%"></td>
              </tr>
              <tr>
                <td width="100%" colspan="2" align="center"><strong>%%hsky%%</strong></td>
              </tr>
              <tr>
                <td valign="top"><strong>Temp:</strong></td>
                <td valign="top" align="right"><strong>%%htempf%%°F &nbsp;</strong><small>(%%htempc%%°C)</small></td>
              </tr>
            </table>
            </td>
            <td valign="top" align="center"><table border="0" >
              <tr>
                <td valign="top"><small><strong>Humidity</strong>:</small></td>
                <td align="right"><small>%%hrh%%%</small></td>
              </tr>
              <tr>
                <td valign="top"><small><strong>Wind</strong> <strong>Speed</strong>:</small></td>
                <td align="right"><small>%%hwind%%</small></td>
              </tr>
              <tr>
                <td valign="top"><small><strong>Barometer</strong>:</small></td>
                <td align="right"><small>%%hpressure%% in.&nbsp; <small>(%%hpressure_mb%% mb)</small></small></td>
              </tr>
              <tr>
                <td valign="top"><small><strong>Dewpoint</strong>:</small></td>
                <td align="right"><small>%%hdewptf%%°F &nbsp; <small>(%%hdewptc%%°C)</small></small></td>
              </tr>
               <tr>
                <td valign="top"><small><strong>Heat Index</strong>:</small></td>
                <td align="right"><small>%%hhif%%°F &nbsp; <small>(%%hhic%%°C)</small></small></td>
              </tr>
               <tr>
                <td valign="top"><small><strong>Wind Chill</strong>:</small></td>
                <td align="right"><small>%%hwcf%%°F &nbsp; <small>(%%hwcc%%°C)</small></small></td>
              </tr>
            </table>
            </td>
          </tr>
        </table>