
<table border="0" cellpadding="0" cellspacing="0" width="600">

  <tr>
    <td width="100%" align="center" ><a href="http://www.hamweather.com"><img src="%%imagesurl%%/title1.gif" alt="HAMweather 2.0" border="0" WIDTH="600" HEIGHT="75"></a></td>
  </tr>
 <tr>
    <td width="100%" align="center" bgcolor="%%hwvheaderbgcolor%%" height="3"><strong><small><a href="http://www.hamweather.com/index.html"><font color="#FFFFFF"><span style="text-decoration: none; color: rgb(255,255,255)">Home</span></font><span style="text-decoration: none"> </a>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; |&nbsp;&nbsp;&nbsp; <a href="http://www.hamweather.com/hwfeatures.html">&nbsp; </span><font color="#FFFFFF"><span style="text-decoration: none; color: rgb(255,255,255)">Features</span></font><span style="text-decoration: none"> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    |&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.hamweather.com/demo/index.html">&nbsp; </span><font color="#FFFFFF"><span style="text-decoration: none; color: rgb(255,255,255)">Demo</span></font><span style="text-decoration: none"> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.hamweather.com/themes/index.html"> </span><span style="text-decoration: none; color: rgb(255,255,255)"><font color="#FFFFFF">Themes</font></span><span style="text-decoration: none"> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    |&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.hamweather.com/downloads/index.html">&nbsp; </span><span style="text-decoration: none; color: rgb(255,255,255)"><font color="#FFFFFF">Download</font></span><span style="text-decoration: none"> &nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
    |&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.hamweather.com/hwpro.html">&nbsp; </span><span style="text-decoration: none; color: rgb(255,255,255)"><font color="#FFFFFF">PRO</font></span><span style="text-decoration: none"> &nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
    |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.hamweather.com/mailto:hamweather@hamweather.com"> </span><span style="text-decoration: none; color: rgb(255,255,255)"><font color="#FFFFFF">Contact </font></span></a></small></strong></td>
  </tr>
 
</table>
