a { color:#000000; text-decoration:underline }
a:hover { color:#ffffff; text-decoration:none }
body {scrollbars:yes; background-attachment: fixed; background-repeat: no-repeat}
INPUT.searchbutton { background-color:#60677f;font:arial;font-weight:bold;color:#ffffff;font-size:1; }