<html>
<head><link rel="stylesheet" href="/1.css">
</head>
<BODY BGCOLOR=#FFFFFF leftmargin=0 topmargin=0 marginwidth=0 marginheight=0>
	<TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=0>
		<TR>
			<TD WIDTH=100% height=45 background="images/rtop.gif" valign=bottom align=left id=header>
				<!-- h2>Featured Houses</h2 -->
				<IMG SRC="/images/spacer.gif" width=349 height=1">
			</TD>
			<TD WIDTH=255 background="images/rtop.gif" valign=top align=right>
				<!-- IMG SRC="images/h4.jpg" WIDTH=255 HEIGHT=43 --></TD>
		</TR>
	</table>	
</body>
</html>