<table border="0" cellpadding="0" cellspacing="0" width="600">
  <tr>
    <td align="center"><br><small>HAMweather, LLC is not responsible for
    any damages or problems caused by this service.<br>
    US Forecasts are Public Domain and derived from the <a href="http://iwin.nws.noaa.gov">National
    Weather Service - (IWIN)</a>.<br>
    Canadian forecasts are obtained from and are  copyright of <a href="http://www.ec.gc.ca/">Environment Canada</a>.<br>
    HAMweather translates the the raw text into a web interface for ease of use.<br>
    If you have any questions or comments email the webmaster at <a href="mailto:hamweather@hamweather.com">hamweather@hamweather.com</a>.</small><br>
    <small>Copyright © 1998-2000 <a href="http://www.hamnetcenter.com/">HAMweather, LLC</a></small></td>
  </tr>
</table>

