<table border="1" width="100%" cellspacing="0" cellpadding="0" bordercolor="#%%hwvbordercolor%%" bordercolorlight="#%%hwvbordercolor%%" bordercolordark="#%%hwvbordercolor%%">
      <tr>
        <td width="100%">

        <table border="0" width="100%">
          <tr>
            <td width="100%" bgcolor="%%hwvheaderbgcolor%%" align="center"><strong><small><font color="%%hwvheadertcolor%%">State
            Information</font></small></strong></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%metarlisterurl%%?user=%%user%%&theme=%%theme%%&do=state&abbrev=%%state%%"><small><small>Current Conditions</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&pands=%%state%%&forecast=zandh"><small><small>Hourly Round Up</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=state&state=%%state%%"><small><small>State Forecast</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=watches&state=%%state%%"><small><small>State Watches</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=warnings&state=%%state%%"><small><small>State Warnings</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=special&state=%%state%%"><small><small>Special Report</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=public&state=%%state%%"><small><small>Public Report</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=summary&state=%%state%%"><small><small>Summary Report</small></small></a></td>
          </tr>
         <tr>
            <td width="100%"><a href="%%getstateurl%%?user=%%user%%&theme=%%theme%%&state=%%lstate%%"><small><small>State Map</small></small></a></td>
          </tr>

        </table>
        <hr size="3" color="%%hwvbordercolor%%">


        <table border="0" width="100%">
          <tr>
            <td width="100%" align="center" bgcolor="%%hwvheaderbgcolor%%"><font color="%%hwvheadertcolor%%"><small><strong>National<br>
            Information</strong></small></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><small><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=nf&state=us&map=1">National
            Forecast</a></small></small></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=ns&state=us&place=defined&map=1"><small><small>National
            Summary</small></small></a></font></td>
          </tr>

          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=radar&state=us&map=1"><small>National
            Radar</small></a></small></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&forecast=uswarnings&state=us&map=1"><small>National
            Warnings</small></a></small></font></td>
          </tr>
          <tr>
         <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%&state=us&forecast=ultraviolet"><small>Ultraviolet
            Index</small></a></small></font></td>
          </tr>
          <tr>
            <td width="100%"><a href="%%scripturl%%?theme=%%theme%%&user=%%user%%&forecast=pass&pass=ccus"><small><small>Current
            Conditions</small></small></a></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?theme=%%theme%%&user=%%user%%&forecast=pass&pass=otherinfo"><small>Other
            Information</small></a></small></font></td>
          </tr>
        </table>
        <hr size="3" color="%%hwvbordercolor%%">
        <table border="0" width="100%">
          <tr>
            <td width="100%" align="center" bgcolor="%%hwvheaderbgcolor%%"><font color="%%hwvheadertcolor%%"><small><strong>International
            Information</strong></small></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?theme=%%theme%%&user=%%user%%&forecast=pass&pass=ccinternational"><small>Current
            Conditions</small></a></small></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?theme=%%theme%%&user=%%user%%&forecast=pass&pass=canada"><small>Canadian
            Forecasts</small></a></small></font></td>
          </tr>
        </table>

        <hr size="3" color="%%hwvbordercolor%%">
        <table border="0" width="100%">
          <tr>
            <td width="100%" align="center" bgcolor="%%hwvheaderbgcolor%%"><font color="%%hwvheadertcolor%%"><strong>Other Information</strong></font></td>
          </tr>
          <tr>
            <td width="100%"><font color="%%hwvboldtextcolor%%"><small><a href="%%scripturl%%?user=%%user%%&theme=%%theme%%"><small>My Weather
            </small></a></small></font></td>
          </tr>

        </table>
        </td>
      </tr>
    </table>
